/Part 1 (_White_)/Minimum Line/Debug/
/Part 1 (_White_)/Minimum Line/.vs/
/Part 1 (_White_)/Minimum Line/Minimum Line.sln
/Part 1 (_White_)/Minimum Line/Minimum Line/
/Part 1 (_White_)/A + B/Debug/
/Part 1 (_White_)/A + B/.vs/
/Part 1 (_White_)/A + B/A + B.sln
/Part 1 (_White_)/A + B/A + B/
!README.md