/Part 1 (_White_)/Minimum Line/Debug/
/Part 1 (_White_)/Minimum Line/.vs/
/Part 1 (_White_)/Minimum Line/Minimum Line.sln
/Part 1 (_White_)/Minimum Line/Minimum Line/
# ------------------------------------------------
/Part 1 (_White_)/A + B/Debug/
/Part 1 (_White_)/A + B/.vs/
/Part 1 (_White_)/A + B/A + B.sln
/Part 1 (_White_)/A + B/A + B/
# ------------------------------------------------
/Part 1 (_White_)/Quadratic equation/Debug/
/Part 1 (_White_)/Quadratic equation/.vs/
/Part 1 (_White_)/Quadratic equation/Quadratic equation.sln
/Part 1 (_White_)/Quadratic equation/Quadratic equation/
# ------------------------------------------------
/Part 1 (_White_)/Division/Debug/
/Part 1 (_White_)/Division/.vs/
/Part 1 (_White_)/Division/Division.sln
/Part 1 (_White_)/Division/Division/
# ------------------------------------------------
/Part 1 (_White_)/Value of the goods/Debug/
/Part 1 (_White_)/Value of the goods/.vs/
/Part 1 (_White_)/Value of the goods/Value of the goods.sln
/Part 1 (_White_)/Value of the goods/Value of the goods/
# ------------------------------------------------
/Part 1 (_White_)/Even numbers/Debug/
/Part 1 (_White_)/Even numbers/.vs/
/Part 1 (_White_)/Even numbers/Even numbers.sln
/Part 1 (_White_)/Even numbers/Even numbers/
# ------------------------------------------------
/Part 1 (_White_)/Second entry/Debug/
/Part 1 (_White_)/Second entry/.vs/
/Part 1 (_White_)/Second entry/Second entry.sln
/Part 1 (_White_)/Second entry/Second entry/
# ------------------------------------------------
/Part 1 (_White_)/GCD/Debug/
/Part 1 (_White_)/GCD/.vs/
/Part 1 (_White_)/GCD/GCD.sln
/Part 1 (_White_)/GCD/GCD/
# ------------------------------------------------
/Part 1 (_White_)/Binary numbers/Debug/
/Part 1 (_White_)/Binary numbers/.vs/
/Part 1 (_White_)/Binary numbers/Binary numbers.sln
/Part 1 (_White_)/Binary numbers/Binary numbers/
# ------------------------------------------------
/Part 1 (_White_)/Factorial/Debug/
/Part 1 (_White_)/Factorial/x64/Debug/
/Part 1 (_White_)/Factorial/.vs/
/Part 1 (_White_)/Factorial/Factorial.sln
/Part 1 (_White_)/Factorial/Factorial/
# ------------------------------------------------
!README.md